<!DOCTYPE html>

<html lang="en">
    <!--standard head data, sets charset, and imports bootstrap stylesheet-->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
        crossorigin="anonymous"
        />

        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
        />

        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous"
        />

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    
        <!--Jinja template, sets name of webpage in the tab-->
        <title>{% block title %}Home{% endblock %}</title>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='phaser.min.js') }}"
        ></script>
    </head>

    <!--is a template for other webpages to use-->
    <body style="background-color:#696969">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <!--button expands the navbar if screen is too small-->
            <button 
                class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--collapsable navbar-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent" role="navigation">
                <ul class = "navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-item nav-link" id="home" href="/">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-item nav-link" id="leaderboard" href="/Leaderboard/">Leaderboard</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-item nav-link" id="information" href="/Information/">Information</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
                            aria-haspopup="true" aria-expanded="false"> {{ user.username }}</a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" id="logout" href="/logout">Logout</a>
                            </div>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-item nav-link" id="login" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" id="createAccount" href="/create-account">Create Account</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </nav>

        <!--displays all alerts-->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <!--error alerts-->
            {% if category== 'error' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--success alerts-->
            {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}

        <!--will contain all the content for each webpage, each webpages content is handled in 
            their individual HTML file, and is then imported into this block-->
        <div>
            {% block content %}
            {% endblock %}
            
            {% block script %}
            {% endblock %}
        </div>

        <!--Javascript imports for bootstrap functionality, like animations and such-->
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='index.js') }}"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='phaser.min.js') }}"
        ></script>
    
    </body>

</html>